/* Overrides Bootstrap CSS */

.navbar-nav > li {
    display: inline-block;
    float: none;
    text-align: center;
}

.navbar-inner {
    text-align: center;
    position: absolute;
    
}

.nav-item img {
    height: 30px;
    float: center;
}

.navbar-brand img {
    height: 60px;
}

nav {
    background-color: #ffffff;
    margin-top: 0.5%;
    margin-left: 0.4%;
    margin-right: 0.4%;
}

.center{
    text-align: center;
}

body {
    background-color: #f7f7f7;
}