<nav class="navbar navbar-light bg-white border-bottom shadow-sm mb-3">
    <div class="container-fluid">
        {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button> --}}
        <span class="navbar-brand">
            <img src="img/logo.png">
        </span>
        {{!-- <div class="navbar-collapse collapse" id="navbar5">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <img src="img/homeselect.png">
                        Mina hushåll
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="img/comment.png"></a>
                </li>
            </ul>
        </div> --}}
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="/profile" class="nav-link">
                    <img src="{{profile.profilePicture}}" class="rounded-circle me-1">
                    My profile
                </a>
            </li>
        </ul>
    </div>
</nav>