/* Overrides Bootstrap CSS */

.navbar-nav > li {
    display: inline-block;
    float: none;
    text-align: center;
}

.navbar-inner {
    text-align: center;
    position: absolute;
    
}

.nav-item img {
    height: 30px;
    float: center;
}


.navbar-brand img {
    height: 60px;
}

nav {
    background-color: #ffffff;
    margin-top: 0.5%;
    margin-left: 0.4%;
    margin-right: 0.4%;
}

.center{
    text-align: center;
}

body {
    background-color: #f7f7f7;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.dash {
    margin-top: 20px;
}

.aeolus-red-bg { /* For Warnings, Alerts, and the like */
    background: linear-gradient(45deg,#a80024,#c20606);
}

.aeolus-green-bg {
    background: linear-gradient(45deg,#00a896,#06c2af);
}


.dash-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.location-time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #00a896, #06c2af);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #00a896, #06c2af)
}

h3 {
    font-size: 16px;
    text-align: right;
}

h4 {
    font-size: 12px;
    text-align: center;
}

.bm {
    font-size: 25px;
}

.coal {
    font-size: 25px;
}

.cardfix {
    padding-bottom: 14px;
}

.alert {
    width: 100%;
    float: auto;
}

.alerttext {
    text-align: center;
}

.inv {
    display: none;
}